.banner--img{
	background-image: url(https://picsum.photos/600);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	
}



.m--profile{
  	background-image: url(https://picsum.photos/id/299/238);
  	background-size: cover;
  	background-position: center;
  	width : 100%;
  	height: 200px;
}




.user-img{
	width : 50px;
	border-radius: 100%;
	border : 1px solid #eee;
	margin-right : 20px;
}



